{
   "arrowParens": "avoid",
   "trailingComma": "es5",
   "singleQuote": true,
   "semi": false,
   "printWidth": 100,
   "tabWidth": 3,
   "useTabs": false,
   "bracketSpacing": true,
   "endOfLine": "auto"
}
